body {
    background: rgb(65, 65, 223);
}
header {
    color: white;
    text-align: center;
}
section {
    background: white;
    border-radius: 5px;
    padding: 7px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 5px rgb(70, 69, 69);

}
footer {
    color: white;
    text-align: center;
    font-style: italic;
    
    
}